@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    min-height: 100%;
    min-width: 400px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px 0px;
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

input[type=search] {
    padding: 10px;
    min-width: 250px;
    width: 30%;
    border-radius: 20px;
    border: 1px solid #3e3c57;
    opacity: 0.8;
    font-size: 16px;
    background-image: url('../assets/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    font-family: 'Raleway', 'Roboto', sans-serif;
}

input[type=search]:focus {
    outline: none;

}

input[type=search]:focus::placeholder {
    color: transparent;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* MAIN */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

.current-weather { 
    min-width: 390px;
    width: 55%;
    min-height: 350px;
    background-color: rgba(0,0,0,0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    font-family: 'Raleway', 'Roboto', sans-serif;
    color: #fff;
    padding: 2em 3.5em;
}

.left, .right {
    user-select: none;
}

#time {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

#city {
    font-size: 40px;
    font-weight: 700;
    padding: 15px 0;
}

#region, #country {
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
    margin-bottom: 5px;
}

#day-summary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 40px 0;
}

img {
    height: 75px;
}

#condition {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px;
}

#temp {
    font-size: 25px;
    font-weight: 500;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    white-space: nowrap;
    justify-content: space-evenly;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.container-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container-details > p {
    font-size: 15px;
    font-weight: 700;
}

span {
    font-weight: 300;
    font-size: 25px;
}

i {
    font-size: 35px;
}

/* FOOTER */

/* MEDIA QUERIES */

@media (max-width: 600px) {
    .current-weather {
        flex-direction: column;
    }
}